.header{
    font-size: 30px;
    background-color: brown;
    color: aqua;
    height: 50px;
    background-position: 70%;
}
h1{
    color: aqua;
}
body{
    background: fixed;
    background-color: darkgray;
}
.poems{
    border-radius: 10px;
    background-color: beige;
    width: fit-content;
    border-style: double;
    float: left;
    justify-content: center;
}