.header{
    font-size: 30px;
    background-color: brown;
    color: aqua;
    height: 50px;
    background-position: 70%;
}
h1{
    color: aqua;
}
.commands{
    color: burlywood;
    font-size: large;
}
body{
    background: fixed;
    background-color: darkgray;
}
#poem1{
    border: 5px;
    border-top: 10px;
    border-color: aqua;
}
#newPoem{
    height: 200px;
}